body {
    background-color: white;
}
.hi{
    color: gray;
    font-size: 25px;
    margin-top: 10px;
}
.hello {
    color: red;
    font-size: 30px;
    margin-top: 10px;
}
.sea {
    margin-left: -40px;
}
.fold {
    font-size: 20px;
    margin-top: 15px;
    color: grey;
    margin-left: 20px;
}
.be {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 20px;
    color: grey;
}
.b {
    border-radius: 50px;
    background-color: blueviolet;
    border: blueviolet;
    color: white;
    margin-left: 20px;
}
.rw {
    margin-left: 15px;
}
.rw1 {
    margin-left: 12px;
}
.cle {
    margin-left: 25px;
    font-size: 20px;
}
.vid {
    margin-left: 20px;
    font-size: 20px;
}
.sho {
    margin-left: 15px;
}
.para {
    margin-left: -10px;
}
.hm {
    font-size: 20px;
}
.mic {
    font-size: 20px;
    margin-left: 40px; 
}
.but {
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 6px;
    color: grey;
}
.search input[type=text]{
   width: 500px;
    height:30px;
    border-radius:25px;
    margin-top: 10px;
}
     
.search{
    margin:7px;
}
     
.search button{
    background-color: black;
    color: #f2f2f2;
    padding: 5px 10px;
    margin-right: -20px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}   
